/* ========================================================================
   TABLE-Theme
 ========================================================================== */


.uk-padding-tm{
	padding: 35px 0px;
}

.uk-fl-sise{
	font-size: 8px;
}
.uk-panel-box {
    padding: 5px !important;
}
 .uk-grid-width-1-7 > * { width: 14.258%; }

    @media (min-width: 480px) {  
        .uk-grid-width-small-1-7 > * { width: 14.258%; }  
    }  
    @media (min-width: 768px) {  
        .uk-grid-width-medium-1-7 > * { width: 14.258%; }  
    }

    @media (min-width: 960px) {  
        .uk-grid-width-large-1-7 > * { width: 14.258%; }  
    }  
    @media (min-width: 1220px) {  
        .uk-grid-width-xlarge-1-7 > * { width: 14.258%; }  
    }  
    .uk-width-1-7 { width: 14.258%; }  
    @media (min-width: 480px) {  
        .uk-width-small-1-7 { width: 14.258%; }  
    }

    @media (min-width: 768px) {  
        .uk-width-medium-1-7 { width: 14.258%; }  
    }

    @media (min-width: 960px) {  
        .uk-width-large-1-7 { width: 14.258%; }  
    }

    @media (min-width: 768px) {  
        .uk-push-1-7 { left: 14.258%; }  
        .uk-pull-1-7 { left: -14.258%; }  
    }